<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Fertilizer' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-card *ngFor="let data of fertilizer" (click)="fertilizerDetail(data.id)">
      <ion-img src={{data.image_url[0]}}></ion-img>
      <h1 class="ion-padding i-title">{{data.company_name.slice(0, 45)}}...</h1>
      <p class="ion-padding i-des">{{data.des.slice(0, 100)}}...</p>
    </ion-card>
  </ion-content>

