<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"Experts" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon slot="start" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <a href={{apiWhatsApp}}>
  <ion-button expand="block" fill="clear" shape="round">
    Click me
  </ion-button>
</a> -->
  <ion-card *ngFor="let data of epxertsData">
    <ion-item line="full">
      <ion-avatar *ngIf="data.profile_image != null" class="i-avator" slot="start">
        <img src={{data.profile_image}} class="profile-pict-img">
      </ion-avatar>
      <ion-avatar *ngIf="data.profile_image == null" class="i-avator-empty" slot="start">
        <ion-icon class="i-icon-empty" name="person-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="i-h-name">{{data.name | translate}}</h2>
        <h3 class="i-h-c">{{data.certification | translate}}</h3>
        <p class="i-h-ex">Experience: {{data.experience | translate}}</p>
      </ion-label>
    </ion-item>
    <ion-row class="i-row-icon ion-padding">
      <ion-col class="ion-no-padding" size="4">
        <ion-button expand="block" fill="clear" (click)="contactToExpert('phone', data.phone_no)">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" size="4">
        <a href={{mailTo.concat(data.email)}}>
        <ion-button expand="block" fill="clear" >   
       <!-- <ion-icon name="mailbox-ellipses-outline"></ion-icon>
      (click)="contactToExpert('mail', data.phone_no)" -->
       <ion-icon color="primary" name="mail-outline"></ion-icon>
        </ion-button>
      </a>
      </ion-col>
      <ion-col class="ion-no-padding" size="4">
        <a href={{apiWhatsApp.concat(data.whatsapp_no)}}>
        <ion-button expand="block" fill="clear" >
          <ion-icon src="assets/others/logo-whatsapp.svg"></ion-icon>
        </ion-button>
      </a>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<!-- (click)="contactToExpert('phone', data.whatsapp_no)" -->