<!-- <ion-header>
  <ion-toolbar>
    <ion-title>contact-us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Contact Us' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <h1 class="i-tx ion-text-center">{{'WE’D LOVE TO HELP YOU IN EMAIL OR VIA CALL' |translate}}!</h1>
    <p class="i-tx"><strong>{{'Smart Agriculture Solution'|translate}}</strong> {{'is helping thousands of farmer to solve their agriculture problems.Our farmer support team and experts are available from 09:00 am to 05:00 pm (monday to friday),we are passionate about our community platform as well as our members and it shows in the quality of service that we provide. We are always happy to help you in finding the best solutions for all your needs. If you have any question about our platform or services contact our support team and experts.'|translate}}
    </p>
    <p class="i-tx ion-text-center"><strong> {{'Email us using the contact form or call us.'|translate}}</strong></p>
  <ion-card> 
    <ion-list>
      <ion-item (click)="contactUs()">
        <ion-label>+923030643744</ion-label>
        <ion-icon slot="end" name="call-outline"></ion-icon>
      </ion-item>

      <a style="text-decoration: none;" href="https://api.whatsapp.com/send?phone=923030643744">
        <ion-item>
          <ion-label color="dark">+923030643744</ion-label>
          <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
        </ion-item>
      </a>

      <a style="text-decoration: none;" href="mailto:hafiznuman.ue@gmail.com">
        <ion-item>
          <ion-label color="dark">hafiznuman.ue@gmail.com</ion-label>
          <ion-icon slot="end" name="mail-outline"></ion-icon>
        </ion-item>
      </a>
    </ion-list>
  </ion-card>
  </ion-card>
</ion-content>

