<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'About Us'| translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <h1 class="i-tx ion-text-center">{{'We are here to change farmer lifestyle.' | translate}}</h1>
    <h5 class="i-tx ion-text-center">{{'A new way to help the farmer being familiar with latest news,weather and Fertilizers.'| translate}}</h5>
    <ion-img src="assets/icon/vision.png"></ion-img>
    <h3 class="i-tx i-heading-3">{{'About Us'| translate}}</h3>
    <p class="i-tx i-detail"><strong>{{'Smart Agriculture Solution'| translate}}</strong> {{'is a community platform that help and give the agriculture information solution,updated methods and ways about agricultural problems.'| translate}}
      <br><br>
      {{'Traditional methods that are currently being followed in Pakistan have lot of drawbacks in it. Identifying those loopholes we are revolutionizing the way how farmer solve their agriculture problems. We are providing an innovative solution to the problems that almost every farmer faces on day to day basis.'| translate}}
      <br><br>
      <strong>{{'Smart Agriculture Solution'| translate}}</strong> {{'Our mission is to enable Pakistan Agriculture use new agri technologies through which farmer can profit. In doing so we hope to have positive impact on Agri Life Style.'| translate}}
      <br><br>
      <strong>{{'Smart Agriculture Solution'| translate}}</strong>{{'Our vision is to connect, through latest Information Communication Technologies, all stakeholders of Pakistan’s Agronomical enterprise for optimal exchange of information and knowledge for better profits.'| translate}}</p>
  </ion-card>
</ion-content>

